@import "tailwindcss";

@layer base {
  html, body {
    user-select: none;
    -webkit-user-select: none;
    color: var(--color-text1);
    font-family: var(--font-base);
    height: 100%;
  }
  *:focus {
    @apply outline-none shadow-none;
  }
  *, ::before, ::after {
    @apply font-normal;
  }
}
@theme {
  --color-bg1: #121214;
  --color-bg2: #1a1a1e;
  --color-bg3: #29292d;
  --color-bg4: #3c3c42;
  --color-flash: color-mix(in oklab,hsl(234.935 calc(1*85.556%) 64.706%/0.1607843137254902) 100%,hsl(0 0% 0%/0.1607843137254902) 0%);
  --color-text1: #ffffff;
  --color-text2: #a1a1aa;
  --color-accent: #5966f3;
  --color-red: #fb2c36;
  --color-green: #00a63e;
  --color-yellow: #d08700;
  --color-gray: #6a7282;
  --font-base: "Pretendard", sans-serif;
}
body {
  background-color: var(--color-bg1);
}
#app {
  height: 100%;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background: var(--color-text2);
  border-radius: 8px;
  background-clip: content-box;
}

*::-webkit-scrollbar-thumb:hover {
  cursor: grab;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.4s ease;
}

.fade-enter-from {
  opacity: 0;
}

.fade-enter-to {
  opacity: 1;
}