name: Build and Push Docker image

on:
  push:
    branches: [ "main" ]   # main 브랜치에 push할 때 실행

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code
        uses: actions/checkout@v3

      - name: Set up Bun
        uses: oven-sh/setup-bun@v1
        with:
          bun-version: 'latest'

      - name: Install dependencies (bun)
        run: bun install

      - name: Build client
        run: bun run build

      - name: Upload static build artifact
        uses: actions/upload-artifact@v4
        with:
          name: client-build
          path: build

  docker:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout (minimal)
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Download client build artifact
        uses: actions/download-artifact@v4
        with:
          name: client-build
          path: ./build

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: Build and Push Docker image
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          platforms: linux/amd64,linux/arm64
          tags: zero624dev/shelter-client:latest